body {
  background: black;
  /* background: url("../images/pexels-ivan-samkov-4162449.jpg"); */
  background-size: cover;
  height: 100vh; 
  background-image: center;
}

ul.nav {
  background-color: black;
  text-align: center;
  display: flex;
}

.nav-link{
  list-style-type: none;
  margin: 10px;
  display: inline-flex;
  text-align: center;
}

a{
  color: #00ffa7;
  font-family: MuseoSans,Arial,sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  list-style-type: none;
}

a:hover{
  color: #ffff;
}


h1{
  color: #00ffa7;
  /* color: #FFFFFF; */
  opacity: .4;
}

h2{
  color: #00ffa7;
}
h3{
  color: #00ffa7;
  opacity: .4;
}

p{
  color: #00ffa7;
}

.container {
  margin: 50px auto;
  width: max-content;
  /* padding: 20px; */
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: black;
  opacity: .8;
  text-transform: uppercase;
  color: white;
  justify-content: center;
}


.page-item{
  list-style-type: none;
}

.form-group {
  background-color:black;
}
.jumbotron{
  padding: 2px;
  margin-bottom: 20px;
  background-color:black;
  width: 400px;
  text-align: center;
}

textarea#text.form-control.form-control-lg {
  height: 50px;
  width: 550px;
}

.card{
  /* text-align: left; */
  margin: 20px auto;
  border: solid white 3px;
  padding: 2px;
  width: 100%;
}
.button {
  margin-bottom: 1rem;
}

ul.pagination.justify-content-center{
  display: inline-flex;
}
a.page-link{
  padding: 3px;
}

.profile-container{
  display: flex;
  /* flex-flow: column nowrap; */
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}